/*
Colors:

Text: 1A1A1A
Green: #00B172
White: #FFF

*/

:root {
  --main-color: #1a1a1a
  --green: #00B172
}

div {
  border: 2px;
}
html {
  background-color: white;
}

#spotify-logo {
  width: 200px;
}
#main-header {
  position: sticky;
  top: 0;

  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
}
.hero {
  background-image: url(./../images/landing.jpg);
  height: 500px;
  background-position: center;
  background-size: cover;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-weight: 300;
}
.hero p {
  width: 200px;
}
nav ul {
  display: flex;
}

nav li {
  margin-right: 20px;
}

.middleTittle {
  display: flex;
  justify-content: center;
  font-weight: 300px;
}

/* div {
  border: 2px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  padding: 10px;
  margin: 10px;
} */
/* .main-healder {
  border-color: #00b171;
}*/

.description{
  background-color: var(--green);
}

.mobile-app {
  background-color: var(--green);
  height: 90vh;
  color: white;
  font-family: sans-serif;
  padding: 2rem;
} & h2 {
  text-decoration: underline;
  text-underline-offset: 0.5rem;
}
.description {
  display: flex;
  flex-direction: column;
}
.mobile-app-wrapper {
  display: flex;
  justify-content: space-between;
  >*{
    flex: 1;
  }
}

