/*
Colors:

Text: 1A1A1A
Green: #00B172
White: #FFF

*/
html{
    background-color: antiquewhite;
}

header {
    background-image: url(images/spotify-logo.png);
    height: 800px;
    background-position: left;
    /*
    contain
    cover
    */
    background-size: cover;
}
ul {

}
h1.title {
    color: green;
    text-align: left;

}

